@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container mt-5">
        <div class="row mt-8">
            <h1 class="display-4">BINGO MVC</h1>
        </div>
    </div>
    
    <div class="container mt-5">

        @if (SignInManager.IsSignedIn(User))
        {
            <div class="row">
                <a class="nav-link text-dark" id="btn-game" asp-controller="Home" asp-action="NewGame">Nueva Partida</a>
            </div>
            /*<div class="row">
                <a class="nav-link text-dark" id="loadGame" asp-controller="Home" asp-action="NewGame">Cargar Partida</a>
            </div>*/
        }
        else
        {
            <div class="row">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
            </div>
            <div class="row">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Ingresar</a>
            </div>

        }

    </div>

</div>


@section Scripts
{
    @if (SignInManager.IsSignedIn(User))
    {
        <script type="text/javascript" src="~/js/HomeJs.js"></script>
    }
}
